<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    <div id="top" data-toggle="tooltip" data-placement="left" title="Back to top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>
    {% include footer.html %}
    {% include sidebar-mobile.html %}
    <div style="display:none;"><script src="//s95.cnzz.com/z_stat.php?id=1256463916&web_id=1256463916" language="JavaScript"></script></div>
  </body>
</html>
