---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <h1 class="post-title" id="post-title">{{ page.title }}</h1>
    <p>{% if page.subtitle %}{{ page.subtitle }}{% else %}<a href="{{ site.baseurl }}/">Back to Home Page</a>{% endif %}</p>
  </div>
</div>
<div id="main" class="container main">
  <div class="row">
    <div class="col-md-9">
      <article class="article">
        {{ content }}
      </article>

      <br class="clear">
      {% if page.comments %}
      <div class="post-area post comment">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = '{{ site.disqus_shortname }}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
      <br class="clear">
      {% endif %}
    </div>
  </div>
</div>
