.categories-list {
    margin-left: 0;

    .item {
        display: block;

        padding: 0.2em 0.5em;

        color: $gray;

        font-size: $font-size-small;

        > .badge {
            float: right;

            margin-top: -1px;
        }

        &:hover {
            text-decoration: none;

            color: #fff;
            border-radius: 5px;
            background-color: $highlight-color;

            @include transition(all, .3s, ease, 0s);
            
            > .badge {
                color: $highlight-color;
                background-color: #fff;
            }
        }
    }
}
