/**
 * 文章目录相关
 */
#content {
    max-width: 392px;
    .content-text {
        padding: 10px 0;
    }
    .affix {
        position: fixed;
        top: 20px;
    }
    .affix-bottom {
        position: absolute;
    }
}
@include on-screen() {
    #markdown-toc {
        display: none;
    }
}
#content ul {
    padding-left: 0;
    > li {
        margin-top: 1px;
        margin-bottom: 1px;

        font-size: 15px;
    }
    li a {
        color: $gray-dark;
        &:hover {
            color: $highlight-color;
            border-left: 1px solid $highlight-color;
            background-color: transparent;
        }
    }
    li.active {
        > a {
            color: $highlight-color;
            border-left: 2px solid $highlight-color;

            font-weight: 700;
        }
        > ul {
            display: block;
            li {
                font-size: 13px;
                ul {
                    display: none;
                }
            }
        }
    }
    li > a {
        padding: 0.2em 20px;
        &:hover {
            padding: 0.2em 19px;
        }
    }
    > li.active > a {
        padding: 0.2em 18px;
    }
    li ul {
        display: none;

        margin-left: 0;

        list-style: none;
        > li a {
            padding: 0.2em 40px;
            &:hover {
                padding: 0.2em 39px;

                text-decoration: none;
            }
        }
        > li.active a {
            padding: 0.2em 38px;
        }
    }
}
@include on-mobile() {
    .post {
        padding: 10px;

        font-size: 14px;
        line-height: 1.3;
    }
    blockquote {
        padding-left: 0;

        font-size: 14px;
    }
    pre code {
        font-size: 12px;
    }
    .post article ul {
        padding-left: 0;
    }
}
