/**
 * Site footer
 */
.site-footer {
    margin-top: 20px;
    padding: $spacing-unit*1.3 0 $spacing-unit*0.6;

    color: $gray-light;
    border-top: 1px solid $gray-lighter;
    background-color: #333;

    font-size: $font-size-base;

    @include on-mobile() {
        padding-top: $spacing-unit;
    }
    a {
        color: $gray-light;
        &:hover {
            color: $gray-lighter;
        }
    }
}
.contact-list {
    margin-left: 0;

    list-style: none;
    i {
        color: $gray;
    }
}
.social-media-list {
    float: right;

    margin-top: -10px;
    padding-left: 0;

    list-style: none;

    @include on-mobile() {
        float: none;

        margin-top: 10px;
    }
    li {
        float: left;
        margin-left: 10px;

        @include on-mobile() {
            margin-right: 10px;
            margin-left: 0;
        }
    }
    i {
        width: 35px;
        padding: 10px;

        text-align: center;

        color: $gray;
        border-radius: 20px;
        background-color: $btn-default-bg;
    }
    a:hover i {
        background-color: darken($btn-default-bg, 10%);
    }
}
.footer-list {
    float: left;

    padding-left: 0;

    list-style: none;

    @include on-mobile() {
        float: none;
    }
    a {
        color: $breadcrumb-color;
    }
    > li {
        display: inline-block;
        + li:before {
            padding: 0 5px;

            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space

            color: $breadcrumb-color;
        }
    }
}
.footnote {
    padding-top: 15px;

    text-align: right;
}
