/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $gray-lighter;
    padding: $spacing-unit*1.3 0 $spacing-unit*0.6 0;
    margin-top: 20px;
    font-size: $font-size-base;
    color: $gray-light;
    background-color: #333;

    a {
        color: $gray-light;
        &:hover {
            color: $gray-lighter;
        }
    }
}

.contact-list {
    list-style: none;
    margin-left: 0;

    i {
        color: $gray;
    }
}

.social-media-list {
    list-style: none;
    float: right;
    margin-top: -10px;

    li {
        float: left;
    }

    i {
        color: $gray-light;
        background-color: #fff;
        padding: 10px;
        margin-left: 10px;
        border-radius: 20px;
        width: 35px;
        text-align: center;
    }
}

.footer-list {
    list-style: none;
    float: left;
    padding-left: 0;

    a {
        color: $breadcrumb-color;
    }

    > li {
      display: inline-block;

      + li:before {
        // [converter] Workaround for https://github.com/sass/libsass/issues/1115
        $nbsp: "\00a0";
        content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
        padding: 0 5px;
        color: $breadcrumb-color;
      }
    }
}

.footnote {
    padding-top: 15px;
    text-align: right;
}
