
.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    border-bottom: none;
//    box-shadow: 0px 1px 1px $highlight-color;

    .navbar-brand {
        font-size: 19px;
        height: 50px;
        padding: 15px 15px;
    }

    .navbar-toggle {
        margin-top: 7px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: $screen-sm) {
    .navbar-nav > li > a {
        font-size: 15px;
        padding: 15px 15px;
        height: 50px;
        color: $highlight-color;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .active > a {
        background-color: #fff;
        color: $highlight-color;
        padding-bottom: 11px;
        border-bottom: 4px solid $highlight-color;

        &:hover {
            background-color: #fff;
            color: $highlight-color;
        }
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: $highlight-color;
        padding-bottom: 11px;
        border-bottom: 4px solid $highlight-color;
        @include transition(all, 0.15s, ease-in-out, 0s);
    }
}

@include media-query($screen-sm) {
    .navbar-default {
        border-bottom: 1px solid $gray-lighter;
    }

    .navbar-fixed-top-on-palm {
        /* position: fixed;
        right: 0px;
        left: 0px;
        top: 0px;
        z-index: 1030; */
    }
}

.navbar-toggle-left {
    float: left;
    margin-left: 15px;
    margin-right: 0px;
}

.navbar-toggle .icon{
    display: block;
    width: 22px;
}

.nav-sidebar {
    background-color: #fdfdfd;
    //overflow-x: hidden;
    //overflow-y: auto;

    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    box-shadow: 0 0 12px;
    border-right: 1px solid $gray;

    .title {
        height: 52px;
        background-color: $brand-primary;

        .navbar-brand {
            color: $gray-lighter;

            &:hover {
                color: white;
            }
        }
    }

    .content {
        position: fixed;
        top: 52px;
        bottom: 0;
        padding: 20px;
        padding-top: 0px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
