.jumbotron {
    margin-top: -24px !important;
    margin-bottom: 50px;
    padding-top: 12px !important;
    padding-bottom: 19px;
    background-color: $jumbotron-bg;

    @include on-mobile() {
        margin-bottom: 20px !important;
        padding-top: 25px !important;
    }
    h1 {
        color: $jumbotron-heading-color;

        font-size: $jumbotron-heading-font-size;
    }
    p {
        color: $jumbotron-color;

        font-size: $jumbotron-font-size;
    }
    a {
        color: $jumbotron-color;
    }
    small {
        color: $jumbotron-color;

        font-size: 12px;
    }
    .title {
        padding-left: 200px;

        @include on-mobile() {
            margin-top: -15px;
            padding-left: 120px;
        }
    }
    .avatar {
        position: relative;
        top: 7px;
        img {
            position: absolute;

            width: 170px;
            height: 170px;

            border: 4px solid #fff;
            border-radius: 10px;
            background-color: $body-bg;
            box-shadow: 0 0 5px $highlight-color;
        }

        @include on-mobile() {
            top: -10px;
            img {
                width: 100px;
                height: 100px;

                border-width: 2px;
            }
        }
    }
}
.jumbotron-sub {
    margin-top: -50px;
    margin-bottom: 30px;

    border-bottom: 1px solid #ccc;

    @include on-mobile() {
        margin-top: -20px;
        margin-bottom: 10px;
    }
    .title {
        padding-top: 5px;
        padding-left: 195px;

        font-size: 12px;
        a {
            padding: 3px 5px;
            .icon {
                color: $gray;

                font-size: 18px;
            }
        }
        @include on-mobile() {
            padding-left: 10px;
        }
    }
}
