/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
}
.article {
    margin-bottom: $spacing-unit;
    h1 {
        padding-bottom: 5px;

        border-bottom: 1px solid $input-border;

        font-size: 30px;
    }
    h2 {
        padding-bottom: 3px;

        border-bottom: 1px solid $input-border;

        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    h4,
    h5,
    h6 {
        font-size: $font-size-base;
    }
}
#markdown-toc {
    display: none;
}
