/**
 * Share
 */
.sharelist {
    display: block;
    overflow: hidden;

    margin-left: 0;

    list-style: none;
    li {
        position: relative;

        float: right;

        padding-right: 0.5em;

        line-height: 33px;
    }
    a {
        color: $gray-light;

        font-size: 27px;
        &:hover {
            color: $highlight-color;

            @include transition(color, .3s, ease, 0s);
        }
    }
}
