/**
 * Labels
 */
.tags-list {
    display: block;
    overflow: hidden;

    padding-left: 0;

    list-style: none;
    list-style-type: none;
    li {
        position: relative;

        float: left;

        line-height: 33px;
    }
    .count {
        vertical-align: super;

        color: $gray;

        font-size: 12px;
    }
    a {
        margin: 0.3em 0.5em;
        padding: 1px 4px;
    }
}

.tagcloud {
    word-break: break-all;

    a {
        padding: 0 2px;
    }
}
