<div id="sidebar">
    <h4 class="page-header text-muted">
        <i class="fa fa-search"></i>
        {{ site.data.i18n.search }}
    </h4>
    <form method="get" action="{{ "/search/" | prepend: site.baseurl }}">
        <div class="form-group">
            <input type="search" placeholder="{{ site.data.i18n.regexp }}" class="form-control" name="s" id="keyword"/>
        </div>
    </form>

    <h4 class="page-header text-muted">
        <i class="fa fa-th-list"></i>
        {{ site.data.i18n.categories }}
    </h4>
    <div class="categories-list">
        {% if page.url != "/categories/" %}
        {% assign u = "/categories/?c=" | prepend: site.baseurl | append: site.data.i18n.all %}
        {% else %}
        {% assign u = "javascript:;" %}
        {% endif %}
        <a class="item" href="{{ u }}" data-cate="{{ site.data.i18n.all }}">
            {{ site.data.i18n.all }}
            <span class="badge">
                {{ site.posts | size }}
            </span>
        </a>
        {% for category in site.categories %}
        {% if page.url != "/categories/" %}
        {% assign cate = category | first %}
        {% assign u = "/categories/?c=" | prepend: site.baseurl | append: cate %}
        {% else %}
        {% assign u = "javascript:;" %}
        {% endif %}
        <a class="item" href="{{ u }}" data-cate="{{ category | first }}">
            {{ category | first }}
            <span class="badge">
                {{ category | last | size }}
            </span>
        </a>
        {% endfor %}
    </div>

    <h4 class="page-header text-muted">
        <i class="fa fa-tags">
        </i>
        {{ site.data.i18n.tags }}
    </h4>
    {% tag_cloud %}

    <h4 class="page-header text-muted">
        <i class="fa fa-external-link"></i>
        {{ site.data.i18n.external_links }}
    </h4>
    <ul class="link-list fa-ul">
        {% for link in site.external_links %}
        <li>
            <i class="fa-li fa fa-link"></i>
            <a href="{{ link.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ link.url }}">
                {{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
